:root {
  --red: #c5004a;
  --darkred: #7f0036;
  --lightgray: #f8f8f8;
  --gray: #c0c0c0;
  --darkgray: #333;
  --blue: #398ac2;
  --blue-hover: #215173;
  --white: #fff;
  --header-background: #398ac2;
}

[data-theme='dark'] {
  --red: #c5004a;
  --darkred: #7f0036;
  --lightgray: #666;
  --gray: #c0c0c0;
  --darkgray: #eee;
  --blue: #398ac2;
  --blue-hover: #215173;
  --white: #333;
  --header-background: #1d4663;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: var(--darkgray);
  background-color: var(--white);
  font-size: 16px;
  line-height: 1.4;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

p:last-child {
  margin-bottom: 0;
}

p,
.tmpl-post main li {
  line-height: 1.6;
}

main a[href] {
  color: var(--blue);
  transition: color 0.2s;
}

main a[href]:hover {
  color: var(--blue-hover);
}

main a[href]:visited {
}

table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, 'Andale Mono WT', 'Andale Mono',
    'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono',
    'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L',
    'Courier New', Courier, monospace;
  line-height: 1.5;
  background-color: #272822;
  color: #f8f8f2;
}

main p code {
  padding: 0.2em 0.4em;
}

pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
}

.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: ' ';
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, 0.8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

.container {
  max-width: 90%;
  width: 500px;
  margin: 0 auto;
}

.socials {
  display: flex;
  justify-content: space-around;
}

.socials a[href] {
  color: inherit;
  text-decoration: none;
}

.socials a[href]:hover {
  color: #c60052;
}

.postlist {
  list-style: none;
  padding: 0;
}

.postlist-item-note {
  background: var(--lightgray);
  padding: 1em;
  margin-left: -1em;
  margin-right: -1em;
}

.postlist-item-note h2 {
  font-size: 1.3em;
}

.postlist-item h2 {
  margin: 0;
  display: inline-block;
}

.postlist-item h2 a {
  text-decoration: none;
}

.postlist li {
  margin-bottom: 2em;
}

.postlist-date,
.postlist-reading {
  font-size: 0.8em;
  margin-top: 0.5em;
  margin-right: 0.5em;
}

.postlist-meta {
  display: block;
  white-space: nowrap;
}

.postlist-date {
  margin-right: 0.4em;
}

.postlist-summary {
  font-size: 0.9em;
}

.latest-posts-heading a[href] {
  color: inherit;
  text-decoration-color: var(--blue);
}

.external-mark {
  color: var(--gray);
}

/* Nav */
nav {
  display: block;
}

.nav,
.tags {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-container {
  position: relative;
}

.nav li {
  display: inline-block;
  padding: 0.4em 0.2em;
}

.nav a {
  display: inline-block;
  padding: 0.8em 0.9em;
  color: inherit;
  text-decoration: none;
  line-height: 1;
  transition: background 0.25s ease-in-out;
  border-radius: 3;
}

.nav .nav-item__home a {
  padding: 0.8em 0.9em 0.8em 2em;
  background-color: #387dac;
  color: #fff;
  /* border-radius: 0; */
}

.nav .nav-item__home a:hover {
  background-color: #316181;
}

.nav a:hover {
  background-color: rgba(50, 50, 50, 0.09);
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

/* .pagination-item {
  min-width: 1px;
} */

.tags li {
  display: inline-block;
  padding-right: 0.1em;
}

.tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-size: 0.625em;
  padding: 2px 4px;
  color: var(--gray);
  border-radius: 0.25em;
  text-decoration: none;
  transition: background 0.4s, color 0.4s;
}

.tag:hover {
  background-color: #387dac;
  color: var(--white);
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: 0.1em;
  color: #aaa;
}

@media (hover: hover) {
  a[href].direct-link,
  a[href].direct-link:visited {
    color: transparent;
  }
  a[href].direct-link:focus,
  a[href].direct-link:focus:visited,
  :hover > a[href].direct-link,
  :hover > a[href].direct-link:visited {
    color: var(--blue);
  }
}

/* Page specific */
.tmpl-home .header-container {
  background-color: var(--header-background);
  height: 50vh;
  position: relative;
  color: #eee;
  display: flex;
  flex-direction: column;
}

.tmpl-home main .container {
  margin-top: 3em;
}

.tmpl-home .page-heading {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tmpl-home .page-heading h1 {
  letter-spacing: 10px;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 52px;
}

.tmpl-home main {
  margin: 2em 0;
}

.tmpl-post main p,
.tmpl-post main ul,
.tmpl-post .page-heading,
.tmpl-post main h2 {
  max-width: 90%;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.tmpl-post main pre {
  max-width: 90%;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.tmpl-post img {
  margin: 1em auto;
  display: block;
  max-width: 90%;
  width: 500px;
}

.tmpl-post img.auto {
  width: auto;
}

.tmpl-post img.small {
  width: 500px;
}

.tmpl-post img.medium {
  width: 750px;
}

.tmpl-post img.large {
  width: 1000px;
}

.intro {
  display: flex;
  justify-content: space-between;
}

.footer {
  text-align: center;
  color: var(--gray);
  padding: 3em 0;
  font-size: 0.7em;
}

.footer a,
.footer a[href] {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

@media (min-width: 800px) {
  body {
    font-size: 14px;
    line-height: 1.4;
  }

  .nav {
    position: absolute;
    width: 100px;
    text-align: right;
    left: -150px;
    top: 80px;
  }

  .nav li {
    padding: 0.4em;
  }

  .page-heading {
    padding-top: 4em;
  }

  .postlist-meta {
    display: inline-block;
    margin-top: 0;
  }
}

@media (min-width: 1000px) {
  .nav {
    left: -250px;
  }
}
