<ul class="postlist">
  {% for post in postslist %}
    <li class="postlist-item{% if post.data.note %} postlist-item-note{% endif %}">
      {% if post.data.note %}
          <h2>{{ post.data.title | orphanWrap | safe }}</h2>
          <small class="external-mark">(note)</small>
          <span class="postlist-meta">
            <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
          </span>
          <div class="postlist-summary">
            {{ post.templateContent | safe }}
          </div>
      {% else %}
        {% if post.data.link %}
          <h2><a href="{{ post.data.url }}">{{ post.data.title | orphanWrap | safe }}</a></h2> <small class="external-mark">(external)</small>
          <span class="postlist-meta">
            <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
          </span>
        {% else %}
          <h2><a href="{{ post.url | url }}" class="postlist-link">{{ post.data.title | orphanWrap | safe }}</a></h2>
          <span class="postlist-meta">
            <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
            <span class="postlist-reading">{{ post.templateContent | readingTime }}</span>
          </span>
        {% endif %}

        {% if post.data.description %}
          <p class="postlist-summary">{{ post.data.description }}</p>
        {% endif %}
      {% endif %}
    </li>
  {% endfor %}
</ul>
