<!doctype html>
<html lang="en"{% if templateClass %} class="{{ templateClass }}"{% endif %}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">

    <meta property="og:url" content="{{ metadata.url }}">
    <meta property="og:title" content="{{ renderData.title or title or metadata.title }}">
    <meta property="og:description" content="{{ renderData.description or description or metadata.description }}">

    <!-- capture the CSS content as a Nunjucks variable -->
    {% set css %}
      {% include "index.client.css" %}
      {% include "prism.client.css" %}
    {% endset %}
    <!-- feed it through our cssmin filter to minify -->
    <style>
      {{ css | cssmin | safe }}
    </style>


    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  </head>
  <body>
    <header>
      <div class="header-container">
        {% include "navigation.njk" %}

        <div class="page-heading container">
          {% block heading %}
            <h1>{{ title | orphanWrap | safe }}</h1>
            <p>{{ subtitle | orphanWrap | safe }}</p>
          {% endblock %}
        </div>
      </div>
    </header>

    <main>
        {% block content %}
          {{ content | safe }}
        {% endblock %}
    </main>

    <footer class="footer">Ashley Burgess - <a class="theme-switch">Toggle theme</a></footer>

<!-- capture the JS content as a Nunjucks variable -->
{% set js %}
  {% include "index.client.js" %}
{% endset %}
<!-- feed it through our jsmin filter to minify -->
<script>
  {{ js | jsmin | safe }}
</script>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
