---
templateClass: tmpl-about
permalink: /about/
eleventyNavigation:
  key: About
  order: 2
---

{% extends 'layouts/page.njk' %}

{% block heading %}
  <h1>About</h1>
{% endblock %}

{% block content %}
  <section class="container">
    <p>
      Hi, I'm Ash — a seasoned full stack developer, or so I keep telling
      myself, based in Manchester, UK. With over 12 years in the industry, I
      lead the design and delivery of scalable, cloud-based solutions across our
      ecommerce and operational platforms. My current focus lies in architecting
      robust Web APIs and modern Single Page Applications, primarily using C#,
      Angular, and a range of supporting technologies.
    </p>

    <p>
      As Head of Technology at <strong>musicMagpie</strong>, I drive the
      strategic direction of our technology platforms — ensuring alignment
      between business goals, technical innovation, and scalable delivery. My
      role spans architecture, platform resilience, compliance, and information
      security, while also supporting a culture of continuous improvement across
      our engineering teams. From leading cloud migration strategies to
      overseeing secure data handling practices.
    </p>

    <p>
      My journey began with PHP, HTML, and CSS, and over time, I've grown into a
      technology leader with deep expertise in the .NET ecosystem and
      multi-cloud environments, including both Azure and AWS. I've worked across
      various frontend frameworks like Vue and React, and dabbled in mobile
      development. From customer-facing apps to complex internal systems
      handling thousands of customer and their orders, I've been hands-on in
      everything from planning and development to mentoring and scaling teams.
    </p>

    <p>
      This site is a space where I <i>plan</i> (currently failing) to share
      technical insights, challenges I've tackled, and lessons I've learned
      along the way. It's partly a personal reference, partly a way to connect
      with others in tech. If you stumble across anything useful (or spot
      something I've missed), feel free to reach out.
    </p>
  </section>
{% endblock %}
