---
templateClass: tmpl-about
permalink: /about/
eleventyNavigation:
  key: About
  order: 2
---

{% extends 'layouts/page.njk' %}

{% block heading %}
  <h1>About</h1>
{% endblock %}

{% block content %}
  <section class="container">
    <p>
      Hi, I'm Ash. A full stack developer from Manchester, UK. I am currently
      focusing on Web APIs and Single Page Application development using C#,
      Angular and other. I am currently employed by <a
      href="http://www.county-rental.co.uk/">County Car &amp; Van Hire</a> as a
      lead developer.
    </p>

    <p>
      I've been a developer for over 7 years starting out with PHP, HTML and
      CSS. I moved on to a C# and Angular stack around 5 years ago and have
      focused on that since. Along the way I have worked with a bunch of
      frontend other frameworks such as Vue and React. Also other languages such
      as Swift and Kotline for some basic mobile development. Building both
      customer facing and internal software has allowed me to plan, manage and
      tackle various aspects of software development.
    </p>

    <p>
      This site is where I _plan_ (we shall see) to post about various technical
      tasks I have undertook and learnt from, as well as some non techical
      related things. Ideally I hope to use some of the posts as references to
      look back on in the future, potentially receive feedback on my posts in
      order to further the stuff I know and maybe learn some things I dont.
    </p>
  </section>
{% endblock %}
