---
templateClass: tmpl-home
---

{% extends 'layouts/page.njk' %}

{% block heading %}
  <h1>Ashley Burgess</h1>
  <p class="sub">Developer</p>
{% endblock %}

{% block content %}
  <section class="container socials">
    <a href="http://github.com/last1here">GitHub</a>
    <a href="http://twitter.com/Ash_Burgess">Twitter</a>
  </section>

  <section class="container">
    <p>
      Hi, I'm Ash. A full stack developer from Manchester, UK. I am currently
      employed by <a href="http://musicmagpie.co.uk/">musicMagpie</a> as a
      Head of Technology. At musicMagpie, I lead the strategy and development of
      our tech platforms — from scalable ecommerce systems to internal-facing
      business applications. My focus is on aligning innovation with business
      value and direction while empowering cross-functional teams to move fast
      and deliver against the strategy.
    </p>

    <p>
      View the <a href="{{ '/about/' | url }}">about section</a> for a more
      details summary of my current focuses.
    </p>
  </section>

  <section class="container latest-posts">
    <h2 class="latest-posts-heading"><a href="{{ '/posts/' | url }}">Latest Blog Posts</a></h2>

    {% set postslist = collections.posts | head(3) %}
    {% include "postslist.njk" %}

    <p>More posts can be found in <a href="{{ '/posts/' | url }}">the blog</a>.</p>
  </section>
{% endblock %}
