---
templateClass: tmpl-home
---

{% extends 'layouts/page.njk' %}

{% block heading %}
  <h1>Ashley Burgess</h1>
  <p class="sub">Developer</p>
{% endblock %}

{% block content %}
  <section class="container socials">
    <a href="http://codepen.io/Last1Here">CodePen</a>
    <a href="http://github.com/last1here">GitHub</a>
    <a href="http://twitter.com/Ash_Burgess">Twitter</a>
  </section>

  <section class="container">
    <p>
      Hi, I'm Ash. A full stack developer from Manchester, UK. I am currently
      focusing on Web APIs and Single Page Application development using C#,
      Angular and other. I am currently employed by <a
      href="http://www.county-rental.co.uk/">County Car &amp; Van Hire</a> as a
      lead developer.
    </p>

    <p>
      View the <a href="{{ '/about/' | url }}">about section</a> for a more
      details summary of my current focuses.
    </p>
  </section>

  <section class="container latest-posts">
    <h2 class="latest-posts-heading"><a href="{{ '/posts/' | url }}">Latest Blog Posts</a></h2>

    {% set postslist = collections.posts | head(3) %}
    {% include "postslist.njk" %}

    <p>More posts can be found in <a href="{{ '/posts/' | url }}">the blog</a>.</p>
  </section>
{% endblock %}
